%font-display {
  font-family: $font-title;
  font-size: 120px;
  line-height: 0.8;
  letter-spacing: calc(-0.05 * 120px);
}

%title-1 {
  font-family: $font-title;
  font-size: 46px;
  line-height: 0.7826086957;
  letter-spacing: calc(-0.05 * 46px);
}

%title-2 {
  font-family: $font-title;
  font-size: 24px;
  line-height: 0.75;
  letter-spacing: calc(-0.05 * 24px);
}

%title-3 {
  font-family: $font-title;
  font-size: 20px;
  line-height: 0.9;
  letter-spacing: calc(-0.05 * 20px);
}

%body-large {
  font-size: 18px;
  line-height: calc(20 / 18);
  letter-spacing: calc(-0.05 * 18px);
}

%body {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: calc(-0.05 * 16px);
}

%body-small {
  font-size: 14px;
  line-height: calc(20 / 14);
  letter-spacing: calc(-0.05 * 14px);
}

%font-button {
  @extend %body;
  line-height: 1;
  letter-spacing: calc(-0.01 * 16px);
}

%font-button-large {
  @extend %body-large;
  line-height: 1;
  letter-spacing: calc(-0.01 * 16px);
}

%footer-text {
  @extend %body;
  letter-spacing: calc(-0.01 * 16px);
}
