%img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

%desktop {
  @include media("<=phone") {
    display: none;
  }
}

%desktop-tab {
  @include media("<=tablet") {
    display: none;
  }
}

%tablet {
  @include media(">tablet") {
    display: none;
  }
}

%mobile {
  @include media(">phone") {
    display: none;
  }
}

%skeleton {
  @extend %element-cover;
  transition: visibility 0.3s $ease-in-out;
  background: linear-gradient(180deg, #373737 0%, rgba(55, 55, 55, 0) 100%);
  animation: fadeIn 1.2s $ease-in-out infinite;
}

%modal-bg {
  background: rgba(10, 3, 0, 0.9);

  @supports (backdrop-filter: blur(50px)) {
    backdrop-filter: blur(50px);
  }
}
