%img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

%desktop {
  @include media("<=phone") {
    display: none;
  }
}

%desktop-tab {
  @include media("<=tablet") {
    display: none;
  }
}

%tablet {
  @include media(">tablet") {
    display: none;
  }
}

%mobile {
  @include media(">phone") {
    display: none;
  }
}
