.c-button {
  @extend %font-button;
  border-radius: 8px;
  padding: 16px;
  transition: transform 0.2s $ease-button-hover;
  display: flex;
  justify-content: center;
  align-items: center;

  @include cursor {
    &:hover {
    }
  }

  &:not(&--no-animate) {
  }
}
