.c-episode {
  &:not(:last-of-type) {
    margin-bottom: 120px;
  }

  &__mobiledesc {
    @extend %tablet;
    margin-top: 24px;
  }

  &__maincard {
    margin-bottom: 24px;

    @include media(">tablet") {
      bottom: 36px;
    }
  }

  &__token__wrapper {
    overflow: hidden;
  }

  &__tokens {
    display: flex;
    align-items: center;
    @include flex-gap(24px);
    overflow: scroll;

    @include media(">tablet") {
      justify-content: center;
    }

    .c-tokencard,
    .c-skeleton {
      max-width: 296px;

      @include media("<=tablet") {
        min-width: 250px;
      }
    }
  }

  &__header {
    margin-bottom: 24px;

    &__inner {
      display: flex;
      align-items: center;
      @extend %title-2;
      justify-content: center;

      @include media(">tablet") {
        @include flex-gap(24px);
        justify-content: baseline;
      }
    }
  }

  &__line {
    @include media(">tablet") {
      background: $white;
      width: 100%;
      height: 1px;
    }

    span {
      @include media(">tablet") {
        display: none;
      }
    }
  }

  &__number,
  &__artist {
    flex-shrink: 0;
    text-transform: uppercase;
  }

  &__main {
    @include ratio(1272, 560);

    @include media("<=tablet") {
      @include ratio(390, 375);
    }

    @include cursor {
      &:hover {
        .c-episode__content {
          opacity: 1;
          pointer-events: auto;
        }
      }
    }
  }

  // &__overlay {
  // }

  &__content {
    background: linear-gradient(
        360deg,
        rgba(0, 0, 0, 0.8) 8.2%,
        rgba(0, 0, 0, 0) 96.67%
      ),
      linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));

    transition: opacity 0.5s ease;

    @include media(">tablet") {
      opacity: 0;
      background: linear-gradient(
          90deg,
          rgba(0, 0, 0, 0.8) 13.02%,
          rgba(0, 0, 0, 0) 100%
        ),
        linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
    }

    &__inner {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, 0);
      bottom: 24px;
      z-index: z("2");
      height: fit-content;

      @include media(">tablet") {
        transform: translate(0, -50%);
        max-width: 504px;
        left: 48px;
        padding: 16px;
      }
    }

    .c-episode__artist {
      @extend %title-2;
      margin-bottom: 18px;
      @extend %desktop-tab;
    }
  }

  &__description {
    @extend %body;
    margin-bottom: 18px;
    @extend %desktop-tab;
  }

  &__controls {
    display: flex;
    align-items: center;
    @include flex-gap(16px);

    @include media("<=tablet") {
      flex-direction: column-reverse;
      justify-content: flex-end;
    }
  }

  &__prompt {
    align-items: center;
    display: flex;

    @include media("<=tablet") {
      justify-content: center;
      flex-direction: column;
      text-align: center;

      .c-button {
        margin-bottom: 14px;
      }
    }

    .c-button {
      flex-shrink: 0;
    }

    &__message {
      margin-left: 14px;
      @extend %body-small;
      max-width: 164px;
    }
  }
}
