.c-masonry {
  display: flex;
  // gap: 32px;
  @include flex-gap(32px);
  opacity: 0;

  .c-column {
    display: flex;
    flex-direction: column;
    width: 100%;

    .c-tokencard {
      &:not(:last-child) {
        margin-bottom: 32px;
      }
    }

    @include media(">desktop-sm") {
      max-width: 296px;
      .c-tokencard {
        max-width: 296px;
      }
    }
  }
}
