.c-modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: z("modal");
  width: 100%;
  height: 100%;

  &__main {
    @extend %element-cover;
    background: #000;
  }
}

.modal-fade-enter {
  opacity: 0;
  // .c-modal {
  //   opacity: 0;
  // }
}

.modal-fade-leave-to {
  opacity: 0;
  // .c-modal {
  //   opacity: 0;
  // }
}

.modal-fade-enter-active {
  transition: opacity 0.2s ease;

  // .c-modal {
  //   transition: opacity 0.2s ease;
  // }
}

.modal-fade-leave-active {
  transition: opacity 0.2s ease;

  // .c-modal {
  //   transition: opacity 0.2s ease;
  // }
}
