.c-modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: z("modal");
  width: 100%;
  height: 100%;

  &__main {
    @extend %element-cover;
    background: #000;
  }

  &__close {
    position: absolute;
    top: 36px;
    right: 36px;
    width: 32px;
    height: 32px;
    z-index: z("1");
  }
}

.modal-fade-enter {
  opacity: 0;
  // .c-modal {
  //   opacity: 0;
  // }
}

.modal-fade-leave-to {
  opacity: 0;
  // .c-modal {
  //   opacity: 0;
  // }
}

.modal-fade-enter-active {
  transition: opacity 0.2s ease;

  // .c-modal {
  //   transition: opacity 0.2s ease;
  // }
}

.modal-fade-leave-active {
  transition: opacity 0.2s ease;

  // .c-modal {
  //   transition: opacity 0.2s ease;
  // }
}

.c-modal--token {
  display: flex;
  width: 100%;
  height: 100%;

  &__imagecon,
  &__content {
    display: flex;
    align-items: center;
    max-width: 50%;
    width: 100%;
    height: 100%;
    padding: 48px;
  }

  &__imagecon {
    justify-content: center;
  }

  &__image {
    max-width: 349px;
    width: 100%;
    @include ratioVar(--width, --height);
  }

  &__content {
    background: $bg-primary;

    .c-content {
      max-width: 575px;
      &__label {
        @extend %body-large;
        color: $dimmed;
        margin-bottom: 18px;
      }

      &__name {
        @extend %title-1;
        margin-bottom: 18px;
      }

      &__artist {
        @extend %body-small;
        margin-top: 12px;

        a {
          @extend %link;
          margin-bottom: 24px;
        }
      }
    }
  }
}
