.c-modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: z("modal");
  width: 100%;
  height: 100%;

  &__main {
    @extend %element-cover;
    background: $black;
    overflow: scroll;
  }

  &__close {
    position: absolute;
    top: 36px;
    right: 36px;
    width: 32px;
    height: 32px;
    z-index: z("1");

    @include media("<=tablet") {
      top: 48px;
      right: 20px;
    }
  }
}

.modal-fade-enter {
  opacity: 0;
  // .c-modal {
  //   opacity: 0;
  // }
}

.modal-fade-leave-to {
  opacity: 0;
  // .c-modal {
  //   opacity: 0;
  // }
}

.modal-fade-enter-active {
  transition: opacity 0.2s ease;

  // .c-modal {
  //   transition: opacity 0.2s ease;
  // }
}

.modal-fade-leave-active {
  transition: opacity 0.2s ease;

  // .c-modal {
  //   transition: opacity 0.2s ease;
  // }
}

.c-modal--token {
  width: 100%;
  height: 100%;
  display: flex;

  @include media("<=tablet") {
    background: $bg-primary;
    padding-top: 96px;
    flex-direction: column;
  }

  &__imagecon,
  &__content {
    @include media(">desktop") {
      padding: 48px;
    }

    @include media(">tablet") {
      display: flex;
      align-items: center;
      max-width: 50%;
      width: 100%;
      height: 100%;
      padding: toRem(48);
    }
  }

  &__imagecon {
    justify-content: center;
    display: flex;
    background: $black;

    @include media("<=tablet") {
      padding: 30px 80px;
    }

    @include media("<=phone") {
      padding: 24px;
    }
  }

  &__image {
    max-width: 349px;
    width: 100%;
    @include ratioVar(--width, --height);
  }

  &__content {
    background: $bg-primary;

    @include media("<=tablet") {
      padding: 24px 20px;
    }

    .c-content {
      @include media(">tablet") {
        max-width: 575px;
      }
      &__label {
        @extend %body-large;
        color: $dimmed;
        margin-bottom: 18px;
      }

      &__name {
        @extend %title-1;
        margin-bottom: 18px;
      }

      &__artist {
        @extend %body-small;
        margin-top: 12px;

        a {
          @extend %link;
          margin-bottom: 24px;
        }
      }

      &__description {
        margin-bottom: 34px;
      }

      &__panel {
        align-items: center;
        &__info {
          @include flex-gap(24px);
          display: flex;
          align-items: flex-start;
        }

        .c-button {
          width: 100%;
          margin-top: 24px;
        }

        @include media(">tablet") {
          display: flex;

          .c-button {
            margin-left: 24px;
            width: unset;
            margin-top: 0;
          }
        }
      }

      &__market {
        &__label {
          margin-bottom: 8px;
          color: $dimmed;
        }

        &__edition {
          display: flex;
          align-items: center;
          @extend %title-2;

          span {
            display: flex;
            &:first-of-type {
              margin-right: 8px;
            }
          }
        }

        &__amount {
          display: flex;
          align-items: flex-start;

          span {
            display: flex;
            line-height: 1;
            @extend %title-2;

            &:first-of-type {
              margin-right: 4px;
              margin-top: -2px;
            }
          }
        }
      }
    }
  }
}

.c-modal--video {
  &__content {
    padding: toRem(80);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    @include media("<=tablet") {
      padding: 24px;
    }

    &__video {
      width: 100%;
      @include ratio(16, 9);

      @include media("<=desktop") {
        max-width: 1200px;
      }
    }
  }
}
