.c-tokencard {
  width: 100%;

  &--gallery {
    .c-tokencard__image {
      margin-bottom: 14px;
    }
  }

  @include cursor {
    &:hover {
      .c-tokencard__overlay {
        opacity: 1;
        pointer-events: auto;
      }
    }
  }

  &__image {
    width: 100%;
    position: relative;
    margin-bottom: 18px;

    img {
      opacity: 0;
    }

    &.loaded {
      img {
        opacity: 1;
      }

      .c-skeleton__item {
        display: none;
      }
    }

    &--aspect {
      @include ratio(293, 286);
    }

    &--auto {
      @include ratioVar(--width, --height);
      img {
        width: 100%;
      }
    }
  }

  &.loaded {
  }

  &__prompt {
    position: absolute;
  }

  &__overlay {
    @extend %element-cover;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));

    @include cursor {
      pointer-events: none;
      opacity: 0;
      transition: opacity 0.5s ease;
    }

    &__button {
      @extend %element-cover;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  &__info {
    &__edition {
      display: flex;
      justify-content: space-between;
      align-items: center;
      @extend %title-3;
    }
  }

  &__edition {
    display: flex;
    align-items: center;

    span {
      display: flex;
      &:first-of-type {
        margin-right: 8px;
      }
    }
  }

  &__artist {
    @extend %body-small;
    margin-top: 12px;

    a {
      @extend %link;
    }
  }

  &__bottom {
    margin-top: 18px;
    padding-top: 8px;
    border-top: $border-primary;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  &__price {
    &__label {
      margin-bottom: 8px;
      color: $dimmed;
    }

    &__amount {
      display: flex;
      align-items: flex-start;

      span {
        display: flex;
        @extend %body-large;
        line-height: 1;

        &:first-of-type {
          margin-right: 2px;
          margin-top: -2px;
        }
      }
    }
  }
}
